@import '../../../../variables/Variables';

.page-modal-container {
  display: none;
  height: calc(100vh - 64px);
  left: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $modal-z-index;

  &.open {
    display: block;
  }

  .page-modal {
    background-color: $white;
    border-radius: 5px;
    display: flex !important;
    flex-flow: column nowrap;
    left: 50%;
    max-height: calc(100% - 40px);
    max-width: 992px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    transform: translateX(-50%);
    width: 80%;

    header {
      color: $default-color;
      display: flex;
      flex-shrink: 0;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 10px 10px 5px;
      position: relative;
      // border-bottom: 1px solid $header-line-color;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: inherit;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: normal;
        margin: 0;

        i {
          font-size: 2rem;
          line-height: 2rem;
          height: 2rem;
          width: 2rem;
          text-align: center;
          margin-right: 10px;
          margin-bottom: 3px;
          vertical-align: bottom;
        }
      }

      .close-button i {
        color: $black;
        cursor: pointer;
        display: block;
        font-size: 30px;
        height: 22px;
        line-height: 22px;
        width: 22px;
      }
    }

    section {
      flex: 1;
      overflow-y: auto;
      padding: 20px;

      a.link {
        background-color: $gradient-initial-color;
        border-radius: 4px;
        color: $white;
        font-size: 1rem;
        font-weight: bold;
        margin: 2px 1px;
        padding: 4px 6px;

        &:hover {
          background: $gradient-middle-color;
        }
      }
    }

    footer {
      background-color: $modal-footer-background-color;
      flex-shrink: 0;
      padding: 5px;
      text-align: right;

      button, a {
        margin: 5px;

        &:last-child {
          text-align: right;
        }
      }
    }

    form {
      .row {
        margin: 0;
      }

      .input-field {
        margin-bottom: 5px;

        label {
          color: $default-color;
          user-select: none;
        }

        input[type=text],
        input[type=email],
        input[type=password] {
          position: relative;
          margin: 0;

          &:focus {
            border-bottom: 1px solid $gradient-initial-color;
            box-shadow: 0 2px 0 -1px $gradient-initial-color;

            & + label {
              color: $gradient-initial-color;
            }
          }
        }

        .prefix {
          color: $default-color;

          &.active {
            color: $gradient-initial-color;
          }
        }

        .helper-text {
          color: $error-color;
          font-size: .84rem;
          line-height: .84rem;
          margin-top: 2px;
          opacity: 0;
        }

        &.valid {
          input[type=text],
          input[type=email],
          input[type=password] {
            border-bottom: 1px solid $success-color;
            box-shadow: 0 2px 0 -1px $success-color;
          }
        }

        &.invalid {
          input[type=text],
          input[type=email],
          input[type=password] {
            border-bottom: 1px solid $error-color;
            box-shadow: 0 2px 0 -1px $error-color;
          }

          .helper-text {
            animation: errorAppear .2s forwards;
          }

          @keyframes errorAppear {
            from { opacity: 0; }
            to { opacity: 1; }
          }
        }
      }
    }

    .show {
      .row {
        margin: 0;

        .col {
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
        }
      }

      h5 {
        font-size: 1.1rem;
        font-weight: lighter;
        margin: 0;
      }

      p {
        font-size: 1.3rem;
        font-weight: normal;
      }
    }
  }

  .overlay {
    background-color: $black;
    bottom: -64px;
    left: 0;
    opacity: .7;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .page-modal-container {
    height: 100vh;

    .page-modal {
      max-height: calc(100% - 104px);
      max-width: initial;
      top: 84px;
      width: calc(100% - 40px);
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-modal-container .page-modal {
    max-height: calc(100% - 96px);
    top: 76px;
  }
}
