@import '../../variables/Variables';

.app-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  margin-left: $sidebar-big-width;
  transition: margin-left .2s;

  p {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app-container {
    margin-left: $sidebar-small-width;
  }
}

@media (max-width: 767px) {
  .app-container {
    margin-left: 0;
  }
}
