@import '../../../../variables/Variables';

.page-loader {
  background-color: $white;
  height: calc(100vh - 64px);
  left: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $page-loader-z-index;

  &.active {
    display: block;
  }

  &.inactive {
    display: none;
  }

  .spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
