@import '../../variables/Variables';

html,
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

#doc-assist {
  overflow: hidden;
}

.todo {
  background-color: $footer-background-color;
  border-radius: 10px;
  bottom: 5px;
  box-shadow: 0 0 2px 0 $sidebar-box-shadow-first-color,
              0 0 1px -2px $sidebar-box-shadow-second-color,
              0 0 5px 0 $sidebar-box-shadow-third-color;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  right: 5px;
  z-index: 30000;

  h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
  }

  p {
    background-color: $disabled-color-lighter;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 10px;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

*.test {
  &, * {
    background: rgba(255, 0, 0, 0.2) !important;
    box-shadow: 0 0 0 1px rgba(0, 255, 0, 0.5) !important;
  }
}

.bg-info {
  &,
  &[class*="btn"]:hover,
  &[class*="btn"]:active,
  &[class*="btn"]:focus {
    background-color: $info-color;
  }
}

.bg-success {
  &,
  &[class*="btn"]:hover,
  &[class*="btn"]:active,
  &[class*="btn"]:focus {
    background-color: $success-color;
  }
}

.bg-warning {
  &,
  &[class*="btn"]:hover,
  &[class*="btn"]:active,
  &[class*="btn"]:focus {
    background-color: $warning-color;
  }
}

.bg-error {
  &,
  &[class*="btn"]:hover,
  &[class*="btn"]:active,
  &[class*="btn"]:focus {
    background-color: $error-color;
  }
}

.no-overflow {
  max-height: 100vh;
  overflow: hidden;
}

.btn-small {
  font-size: .8rem;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
  text-transform: none;

  i {
    font-size: 1rem;

    &.left {
      margin-right: 5px;
    }

    &.right {
      margin-left: 5px;
    }
  }
}

.top-shadow {
  box-shadow: 0 -2px 2px 0 $sidebar-box-shadow-first-color,
              0 -3px 1px -2px $sidebar-box-shadow-second-color,
              0 -1px 5px 0 $sidebar-box-shadow-third-color;
}

.right-shadow {
  box-shadow: 2px 0 2px 0 $sidebar-box-shadow-first-color,
              3px 0 1px -2px $sidebar-box-shadow-second-color,
              1px 0 5px 0 $sidebar-box-shadow-third-color;
}

.bottom-shadow {
  box-shadow: 0 2px 2px 0 $sidebar-box-shadow-first-color,
              0 3px 1px -2px $sidebar-box-shadow-second-color,
              0 1px 5px 0 $sidebar-box-shadow-third-color;
}

.left-shadow {
  box-shadow: -2px 0 2px 0 $sidebar-box-shadow-first-color,
              -3px 0 1px -2px $sidebar-box-shadow-second-color,
              -1px 0 5px 0 $sidebar-box-shadow-third-color;
}

.toastify-container {
  transition: width .2s;
}

.toastify-body {
  border-radius: 3px;
  cursor: default;
  min-height: 0;
  padding: 5px;
  position: relative;

  &::before {
    color: $white;
    font-family: 'Font Awesome 5 Free';
    font-size: 14px;
    font-weight: 700;
    left: 5px;
    line-height: 14px;
    opacity: .7;
    position: absolute;
    top: 5px;
    width: 14px;
  }

  &.info {
    background-color: $info-color;

    &::before {
      content: '\f05a';
    }
  }

  &.success {
    background-color: $success-color;

    &::before {
      content: '\f058';
    }
  }

  &.warning {
    background-color: $warning-color;

    &::before {
      content: '\f192';
    }
  }

  &.error {
    background-color: $error-color;

    &::before {
      content: '\f06a';
    }
  }

  button {
    font-size: 0;
    line-height: 12px;
    opacity: 1;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &::before {
      content: '\f00d';
      font-family: 'Font Awesome 5 Free';
      font-size: 16px;
      line-height: 12px;
      position: absolute;
      right: 0;
      top: 0;
      width: 12px;
    }
  }

  .text {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 15px 5px 5px;
  }

  .progress-bar {
    background: $white;
    height: 2px;
  }
}

@media only screen and (max-width: 767px) {
  .top-shadow.desktop-only,
  .right-shadow.desktop-only,
  .bottom-shadow.desktop-only,
  .left-shadow.desktop-only {
    box-shadow: none;
  }

  .toastify-container {
    left: 0;
    padding: 20px;
    top: 0;
    width: 100%;

    .toastify-body {
      padding: 10px;

      &::before {
        font-size: 30px;
        left: 10px;
        line-height: 30px;
        top: 10px;
        width: 30px;
      }
    }

    button {
      &::before {
        font-size: 40px;
        line-height: 28px;
        width: 28px;
      }

      &:focus {
        background: transparent;
      }
    }

    .text {
      font-size: 1.5rem;
      margin: 38px 20px 20px;
    }

    .progress-bar {
      height: 4px;
    }
  }
}
