$ripple-primary-color:             #000;
$ripple-secondary-color:           transparent;

$gradient-initial-color:           #007fff;
$gradient-middle-color:            #2456E6;
$gradient-end-color:               #4a00e0;

$sidebar-big-width:                15rem;
$sidebar-small-width:              4rem;
$sidebar-toggler-background-color: #4e54c8;
$sidebar-toggler-color:            #fff;
$sidebar-background-color:         #fff;
$sidebar-box-shadow-color:         #999;
$sidebar-item-color:               #333;
$sidebar-item-hover-color:         #fff;

$footer-background-color:          #ddd;
$footer-color:                     #666;
