@import '../../variables/Variables';

.app-sidebar {
  background-color: $sidebar-background-color;
  box-shadow: 1px 0 3px $sidebar-box-shadow-color;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: width .2s, left .2s;
  width: $sidebar-big-width;
  z-index: 10000;
}

.page-links {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 0;

  > .link {
    a:hover,
    &.active a {
      background-color: $gradient-initial-color;

      i,
      span {
        color: $sidebar-item-hover-color;
      }
    }

    &.active a {
      background-image: linear-gradient(to right, $gradient-initial-color, $gradient-end-color);
    }
  }
}

.app-sidebar a {
  align-items: center;
  display: flex;
  padding: .6rem .7rem;
  text-decoration: none;
  transition: background-color .2s, color .2s;
  user-select: none;

  &.current-user-info {
    background-color: $gradient-initial-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem .7rem;

    > span {
      color: $sidebar-item-hover-color;
      text-shadow: 1px 1px $sidebar-item-color;
    }
  }

  > i,
  > img {
    flex-shrink: 0;
    margin-right: .5rem;
    text-align: center;
    width: 2.5rem;
  }

  > i {
    color: $gradient-initial-color;
    font-size: 1.5rem;
    transition: color .2s;
  }

  > img {
    background-color: $gradient-middle-color;
    height: 2.5rem;
    object-fit: cover;
    overflow: hidden;
    padding: 1px;
  }

  > span {
    color: $sidebar-item-color;
    flex: 1;
    font-size: 1rem;
    font-weight: lighter;
    max-height: 100px;
    min-width: 169px;
    overflow: hidden;
    transition: max-height .3s;
    word-break: break-word;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .app-sidebar:not(:hover) {
    width: $sidebar-small-width;

    a {
      > i {
        margin: 0;
      }

      > span {
        max-height: 0;
        visibility: hidden;
      }
    }
  }
}

@media (max-width: 767px) {
  .app-sidebar {
    left: -$sidebar-big-width;
  }
}
