@import '../../variables/Variables';

.app-sidebar {
  nav {
    background-color: $sidebar-background-color;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: width .2s, left .2s, box-shadow .2s;
    width: $sidebar-big-width;
    z-index: 2000;

    &:hover {
      overflow-y: auto;
    }
  }

  .overlay {
    background-color: $black;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
  }

  &.open {
    nav {
      left: 0;
    }

    .overlay {
      animation: overlayOpacity .2s forwards;
      display: block;
    }

    @keyframes overlayOpacity {
      from { opacity: 0; }
      to { opacity: .7; }
    }
  }
}

.page-links {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 0;

  > .link {
    a:hover,
    &.active a {
      background-color: $gradient-initial-color;

      i,
      .name {
        color: $sidebar-item-hover-color;
      }
    }

    &.active a {
      background-image: linear-gradient(to right, $gradient-initial-color, $gradient-end-color);
    }
  }
}

.app-sidebar nav a {
  align-items: center;
  display: flex;
  padding: .8rem .7rem;
  position: relative;
  text-decoration: none;
  transition: background-color .2s, color .2s;
  user-select: none;

  &.current-user-info {
    background-color: $gradient-initial-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid $gradient-middle-color;
    padding: 1.4rem .7rem;

    > .name {
      color: $sidebar-item-hover-color;
      font-weight: bold;
      text-shadow: 1px 1px $sidebar-item-color;
    }
  }

  > i,
  > img {
    flex-shrink: 0;
    margin-right: .5rem;
    text-align: center;
    width: 2.5rem;
  }

  > i {
    color: $gradient-initial-color;
    font-size: 1.5rem;
    height: auto;
    transition: color .2s;
  }

  > img {
    background-color: $gradient-middle-color;
    border-radius: 10px;
    height: 2.5rem;
    object-fit: cover;
    overflow: hidden;
    padding: 1px;
  }

  > .name {
    color: $sidebar-item-color;
    flex: 1;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1;
    max-height: 100px;
    max-width: 145px;
    min-width: 145px;
    overflow: hidden;
    transition: max-height .3s, opacity .3s;
    word-break: break-word;
  }

  > .badge {
    background-color: $gradient-middle-transp-color;
    bottom: 2px;
    box-shadow: 0 0 2px $white;
    opacity: 0;
    position: absolute;
    right: 2px;
    transition: all .2s;
  }

  &:hover > .badge {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .app-sidebar nav:not(:hover) {
    width: $sidebar-small-width;

    a {
      > i {
        margin: 0;
      }

      > .name {
        max-height: 0;
        opacity: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .app-sidebar nav {
    left: -70%;
    width: 70%;
  }
}
