.app-sidebar {
  background-color: #fff;
  box-shadow: 1px 0 3px #999;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: width .2s, left .2s;
  width: 15rem;
  z-index: 10000;
}

.page-links {
  display: flex;
  flex-direction: column;
  margin: 0;

  > li > a {
    align-items: center;
    color: #333;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1rem;
    font-weight: lighter;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    transition: background-color .2s, color .2s;
    user-select: none;
    word-break: break-word;

    > i {
      color: #007fff;
      font-size: 1.5rem;
      margin-right: 1.2rem;
    }

    > span {
      min-width: 160px;
    }
  }

  > li {
    &.active a, a:hover {
      background-color: #007fff;

      &, i {
        color: #fff;
      }
    }

    &.active a {
      background-image: linear-gradient(to right, #007fff, #4a00e0);
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app-sidebar:not(:hover) {
    width: 4rem;
  }
}

@media (max-width: 991px) {
  .app-sidebar:not(:hover) a {
    > i {
      margin: 0;
    }

    > span {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .app-sidebar {
    left: -15rem;
  }
}
