@import '../../../variables/Variables';

.page-content {
  flex: 1;
  padding: 15px;
  position: relative;
}

.page {
  color: $default-color;

  header {
    border-bottom: 1px solid $header-line-color;
    margin-bottom: 27px;
    position: relative;

    h2 {
      font-size: 2.2rem;
      line-height: 2.2rem;
      margin: 0 0 14px;
    }
  }

  aside.new {
    position: absolute;
    right: 10px;
    top: calc(2.2rem - 15px);

    a {
      background-color: $gradient-initial-color;

      &:hover {
        box-shadow: 0 4px 7px 0 rgba(0,0,0,0.14),
                    0 2px 12px 0 rgba(0,0,0,0.12),
                    0 4px 5px -1px rgba(0,0,0,0.2);
      }
    }

    i {
      font-size: 1.5rem;
    }
  }

  section {
    margin-bottom: 10px;
  }

  tbody tr:hover {
    background-color: $table-hover-color;
  }

  th,
  td {
    padding: 5px 10px;
  }

  td .fixed-action-btn {
    left: 0;
    padding: 0;
    position: relative;
    top: 0;

    .btn-floating.btn-small {
      height: 32px;
      padding: 0;
      width: 32px;
    }

    .btn-small i {
      font-size: 1rem;
    }

    ul {
      position: absolute;
      right: 32px;
      top: 0;
      transform: none;
    }

    li {
      margin-right: 10px;
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 993px) {
  section .actions {
    width: 52px;
  }
}

@media only screen and (max-width: 992px) {
  td .fixed-action-btn {
    ul {
      width: 136px !important;
      left: 32px !important;

      li {
        float: right;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .page-content {
    padding-top: 79px;
  }
}

@media only screen and (max-width: 600px) {
  .page-content {
    padding-top: 71px;
  }
}
