.page-content {
  flex: 1;
  padding: 15px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .page-content {
    padding-top: 79px;
  }
}

@media only screen and (max-width: 600px) {
  .page-content {
    padding-top: 71px;
  }
}
