@import '../../../variables/Variables';

.page-content {
  flex: 1;
  padding: 15px;
  position: relative;
}

.page {
  color: $default-color;

  header {
    border-bottom: 1px solid $header-line-color;
    margin-bottom: 27px;
    position: relative;

    h2 {
      font-size: 2.2rem;
      line-height: 2.2rem;
      margin: 0 0 14px;
    }
  }

  aside.new {
    position: absolute;
    right: 10px;
    top: calc(2.2rem - 15px);

    a {
      background-color: $gradient-initial-color;

      &:hover {
        box-shadow: 0 4px 7px 0 rgba(0,0,0,0.14),
                    0 2px 12px 0 rgba(0,0,0,0.12),
                    0 4px 5px -1px rgba(0,0,0,0.2);
      }
    }

    i {
      font-size: 1.5rem;
    }
  }

  section {
    margin-bottom: 10px;
    margin-top: 47px;
  }

  .search-bar {
    background-color: $gradient-initial-color;
    border-radius: 3px;
    position: relative;
    transition: width 2s;

    &, * {
      height: 40px !important;
      line-height: 40px !important;
      color: $white;
      transition: color .3s, background-color .3s, right .3s;
      cursor: text;
    }

    i {
      font-size: 1.5rem;
      padding: 0 20px;
    }

    .search-label {
      left: 0;
      position: absolute;
      top: 0;
    }

    input.search-input {
      border: none !important;
      box-shadow: none !important;
      box-sizing: border-box;
      margin: 0;
      padding: 0 calc(1.5em + 50px);
    }

    .close-button {
      cursor: pointer;
      display: none;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &.active {
      background-color: $white;
      // width: 100%;

      * {
        color: $black;
      }

      .close-button {
        animation: buttonOpacity .3s forwards;
        display: block;
      }

      @keyframes buttonOpacity {
        from { opacity: 0; }
        to { opacity: 1; }
      }
    }
  }

  table {
    margin: 10px 0;
  }

  table + .row {
    .col {
      padding: 0;
    }

    .dataTables_info {
      color: $default-color;
      font-size: 1rem;
      font-weight: lighter;
    }

    .dataTables_paginate {
      text-align: right;

      .btn-flat {
        color: $default-color;
        font-weight: lighter;

        &.disabled {
          color: $pagination-disabled-color !important;
        }
      }

      .current {
        color: $white;
        background-color: $gradient-initial-color;
        font-weight: bold;
      }

      .previous, .next {
        font-size: 0;
        width: calc(.8rem + 32px);

        &::before {
          font-family: 'Font Awesome 5 Free';
          font-size: 1.35rem;
          font-weight: bold;
          height: inherit;
          left: 16px;
          line-height: inherit;
          position: absolute;
          top: 0;
          width: .8rem;
        }
      }

      .previous::before {
        content: '\f053';
      }

      .next::before {
        content: '\f054';
      }

      span.ellipsis {
        margin: 0 16px;
      }
    }
  }

  tbody tr:hover {
    background-color: $table-hover-color;
  }

  th,
  td {
    padding: 5px 10px;
  }

  td .fixed-action-btn {
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 32px;

    .btn-floating.btn-small {
      height: 32px;
      padding: 0;
      width: 32px;
    }

    .btn-small i {
      font-size: 1rem;
    }

    ul {
      position: absolute;
      right: 32px;
      top: 0;
      transform: none;
      width: 136px !important;
    }

    li {
      margin-right: 10px;
      margin-top: 0;
    }
  }
}

.page-modal-container {
  display: none;
  height: calc(100vh - 64px);
  left: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $modal-z-index;

  &.open {
    display: block;
  }

  .page-modal {
    border-radius: 5px;
    display: flex !important;
    flex-flow: column nowrap;
    left: 50%;
    max-height: calc(100% - 40px);
    max-width: 992px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    transform: translateX(-50%);
    width: 80%;

    header {
      background-color: $gradient-initial-color;
      color: $white;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 10px;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: inherit;
        font-size: 2.5rem;
        font-weight: normal;
        margin: 0;
      }

      a,
      i {
        color: inherit;
        display: block;
        font-size: 30px;
        height: 22px;
        line-height: 22px;
        width: 22px;
      }
    }

    section {
      background-color: $white;
      overflow-y: auto;
      padding: 20px;
    }

    footer {
      background-color: $footer-background-color;
      padding: 5px;
      text-align: right;

      button, a {
        margin: 5px;
      }
    }
  }

  .overlay {
    background-color: $black;
    bottom: 0;
    left: 0;
    opacity: .7;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media only screen and (min-width: 993px) {
  .page section .actions {
    width: 52px;
  }
}

@media only screen and (max-width: 992px) {
  .page td .fixed-action-btn {
    ul {
      left: 32px !important;

      li {
        float: right;
      }
    }
  }

  .page table {
    th {
      width: auto !important;
      margin: 0 !important;
    }

    td {
      min-width: 168px;
    }
  }

  .page table + .row {
    .dataTables_info {
      text-align: center;
      margin-bottom: 10px;
    }

    .dataTables_paginate {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 767px) {
  .page-content {
    padding-top: 79px;
  }

  .page-modal-container {
    height: 100vh;

    .page-modal {
      left: 20px;
      max-height: calc(100% - 104px);
      max-width: initial;
      top: 84px;
      transform: none;
      width: calc(100% - 40px);
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-content {
    padding-top: 71px;
  }

  .page-modal-container .page-modal {
    max-height: calc(100% - 96px);
    top: 76px;
  }
}
